/* ============= RESET ============== */

html{
    box-sizing: border-box;
}

*, *::before, *::after{
   box-sizing: inherit;

}

*{
    margin: 0;
    padding: 0;
}

ul, li, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}
