/* ======== RESET ========= */
*{
    list-style-type: none;
}
/* ======== VARIABLES ========= */
html{
    --corcontraste: rgb(35, 57, 91);
    --cortexto: #161925;
    --corleve: #406E8E;
    --corfundo: #8EA8C3;
    --corfundosuave: #F7F7F2;
}
/* ======== BODY ========= */
body{
    background-color: var(--corfundo);
}

/* ======== HEADER ========= */

/* ======== MAIN ========= */
h1{
    text-align: center;
}
main{
    max-width: 1200px;
    min-width: 600px;
    margin: auto;
    background-color: var(--corfundosuave);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.459);
}
/* ======== COLUNA ========= */
#colunacor{
    background-color: var(--corcontraste);
    color: white;
    padding: 0px;
}
#colunapadrao{
    padding: 0px;
}